@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* ------------------------ Happy Shaking Text -----------------------------*/
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    background: beige;
    overflow: hidden;
}

h1 {
    font-size: 5em;
    font: bold 7.5vw/1.6 'Signika', sans-serif;
    user-select: none;
    margin-bottom: 10px; 
}

h1 span {
    display: inline-block;
    animation: float .2s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: none;
    }

    33% {
        transform: translateY(-1px) rotate(-2deg);
    }

    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

body:hover span {
    animation: bounce .6s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

span:nth-child(4n) {
    color: hsl(50, 75%, 55%);
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

span:nth-child(4n-1) {
    color: hsl(135, 35%, 55%);
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

span:nth-child(4n-2) {
    color: hsl(155, 35%, 60%);
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

span:nth-child(4n-3) {
    color: hsl(30, 65%, 60%);
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
    animation-delay: .05s;
}

h1 span:nth-child(3) {
    animation-delay: .1s;
}

h1 span:nth-child(4) {
    animation-delay: .15s;
}

h1 span:nth-child(5) {
    animation-delay: .2s;
}

h1 span:nth-child(6) {
    animation-delay: .25s;
}

h1 span:nth-child(7) {
    animation-delay: .3s;
}

h1 span:nth-child(8) {
    animation-delay: .35s;
}

h1 span:nth-child(9) {
    animation-delay: .4s;
}

h1 span:nth-child(10) {
    animation-delay: .45s;
}

h1 span:nth-child(11) {
    animation-delay: .5s;
}

h1 span:nth-child(12) {
    animation-delay: .55s;
}

h1 span:nth-child(13) {
    animation-delay: .6s;
}

h1 span:nth-child(14) {
    animation-delay: .65s;
}

.input-box {
    position: relative;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 700px;
    background: rgba(255, 255, 255, 0.5); /* Slight transparency on the entire box */
}

.input-box img {
    height: 20px;
    width: 20px;
}

/* .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent; /* Make background transparent */
}

#answer-box {
    width: 100%; /* Adjusted to full width of its container */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    grid-gap: 20px; /* Space between cards */
    padding: 10px; /* Padding around the grid */
    margin-top: 40px; /* Margin top for spacing */
    max-width: 1600px; /* Limit the maximum width */
    margin-left: auto; /* Centering the grid */
    margin-right: auto; /* Centering the grid */
    margin-bottom: 40px; /* Added bottom margin for space below the box */
    overflow: auto; /* Enable scrolling */
}

#dropdown {
    display: none;
    /* Hidden initially */
    position: absolute;
    left: 0;
    right: 0;
    /* Ensure dropdown width matches input box */
    top: 100%;
    /* Aligns the dropdown right below the input box */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto;
    /* Enable scrolling for overflow */
    max-height: 300px;
    /* Set a max-height for scrolling */
}

#dropdown div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    /* Makes it clear you can click on dropdown items */
}

/* Consider adding hover styles for dropdown items */
#dropdown div:hover {
    background-color: #ddd;
}


/* Basic grid layout for recipe cards */
.full-body-container {
    position: relative; /* Changed from absolute to relative */
    width: 100%;
    max-width: 1600px; /* Limit the maximum width to 1200px or another suitable value */
    height: auto; /* Height automatically adjusts to content */
    margin: 0 auto; /* Center align the container */
    padding: 20px; /* Add some padding around the edges */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better framing */
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

/* Style for individual cards */
.recipe-card {
    background-color: rgb(245, 245, 240); /* Slight grey background */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 15px;
    padding: 8px; /* Adjust padding to fit content in a smaller area */
    height: 250px; /* Adjusted height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space content evenly */
    box-shadow: 0 3px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    cursor: pointer; /* Pointer cursor for interaction */
}

/* Enhancements to the recipe card text to avoid overflow */
.recipe-card h3, .recipe-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style for the pop-up detailed view */
.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* Style adjustments for detail popup to make it more integrated */
.recipe-detail-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 250, 240);
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    z-index: 1000; /* Ensure it's on top */
    display: none; /* Hide by default */
    overflow-y: auto; /* Enable scroll if content is too long */
    text-align: left; /* Ensure all text aligns to the left */
}

/* Specific styling for the recipe title in the popup */
.recipe-detail-popup h2 {
    text-align: center; /* Center-align the recipe title */
    margin-bottom: 50px; /* Add space below the title */
}

/* Styling individual paragraphs in the popup for better spacing */
.recipe-detail-popup p {
    margin-bottom: 15px; /* Add more space between each data field */
    margin-left: 40px
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
