<!doctype html>
<title>Flavor Match</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div>
                <h1><span>F</span><span>l</span><span>a</span><span>v</span><span>o</span><span></span><span>r</span><span>M</span><span>a</span><span>t</span><span></span><span>c</span><span>h</span></h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a recipe" id="filter-text-val" onkeyup="filterText()" autocomplete="off">
                <div id="dropdown" class="dropdown-content"></div>
            </div>          
        </div>
        <div class="hint-message">
            <p>🌟 Discover the fantstic flavor-matching recipes based on your favorite dish! <br> Click on a recipe card to explore the magic of matching flavors and dive into a world of culinary delight! 🌿🍴</p>
        </div>
        <div id="answer-box"></div>
        <div id="recipe-detail-popup" class="recipe-detail-popup"></div>


    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/recipe_names')
                .then(response => response.json())
                .then(data => {
                    window.recipeNames = data; // Store recipe names globally
                })
                .catch(error => console.error('Error fetching recipe names:', error));
        });

        function sendFocus() {
        /**
         * Focuses the cursor on the search input box.
         * This function is triggered when the input box is clicked.
         */
            document.getElementById('filter-text-val').focus();
        }

        function debounce(func, delay) {
        /**
         * Delays the execution of a function until after a specified delay in milliseconds,
         * helping to limit the rate at which the function fires.
         *
         * Parameters:
         *   func (Function): The function to delay.
         *   delay (Number): The time to wait before executing the function, in milliseconds.
         */
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(func, delay);
        }

        function filterText() {
        /**
         * Retrieves user input from the search box, sends it to the server to filter recipe names,
         * and displays the filtered results in a dropdown.
         * This function is triggered every time the user types a character in the search input box.
         */
            let userInput = document.getElementById("filter-text-val").value;
            if (userInput.length > 0) {  // Ensure there is user input before making the call
                fetch(`/filter_names?query=${encodeURIComponent(userInput)}`)
                    .then(response => response.json())
                    .then(data => showDropdown(userInput, data))  // Pass the returned data to the dropdown
                    .catch(error => console.error('Error fetching names:', error));
            } else {
                showDropdown(userInput);  // Call with empty or default data if no input
            }
        }

        function showDropdown(userInput, names = []) {
        /**
         * Displays a dropdown list of recipe names that match the user input.
         *
         * Parameters:
         *   userInput (String): The current text entered by the user in the search box.
         *   names (Array of Strings): An array of recipe names to display in the dropdown; defaults to empty.
         */
            const dropdown = document.getElementById("dropdown");
            dropdown.innerHTML = "";  // Clear previous options
            names.forEach(option => {
                const optionDiv = document.createElement("div");
                optionDiv.textContent = option;
                optionDiv.onclick = function () {
                    document.getElementById("filter-text-val").value = option;
                    dropdown.style.display = "none";
                    storeUserInput(option);
                };
                dropdown.appendChild(optionDiv);
            });
            dropdown.style.display = names.length > 0 ? "block" : "none";
        }


        function storeUserInput(userInput) {
        /**
         * Sends the selected recipe name from the dropdown to the server for storage.
         *
         * Parameters:
         *   userInput (String): The recipe name selected by the user from the dropdown.
         */
            fetch('/store_user_input', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userInput: userInput })
            })
            .then(response => response.json())
            .then(data => {
                fetchTopSimilarDishes();
            })
            .catch((error) => console.error('Error storing user input:', error));
        }

        function fetchTopSimilarDishes() {
        /**
         * Requests the server to retrieve dishes similar to the stored user input.
         */
            fetch('/get_similar_dishes', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                displayTopSimilarDishes(data);
            })
            .catch(error => console.error('Error:', error));
        }


        function displayTopSimilarDishes(dishes) {
        /**
         * Displays cards for each similar dish returned by the server.
         *
         * Parameters:
         *   dishes (Array of Objects): An array containing objects with details of each similar dish.
         */
            const answerBox = document.getElementById("answer-box");
            answerBox.innerHTML = ''; // Clear previous results

            // Within the displayTopSimilarDishes function, adjust the innerHTML setting
            dishes.forEach(dish => {
                const card = document.createElement('div');
                card.classList.add('recipe-card');

                let labelsHtml = dish[8].map(label => `<span class="tag ${label.toLowerCase()}">${label}</span>`).join(' '); // Generates tag HTML
                
                let ratingPercentage = (dish[6] / 5) * 100; // Calculate width for star rating based on the dish rating

                card.innerHTML = `
                    <h3 class="centered-content">${dish[0]}</h3>
                    <div class="centered-content">${labelsHtml}</div>
                    <div class="star-rating">
                        <span style="width:${ratingPercentage}%;">★★★★★</span>
                    </div>
                    <div class="text-content">
                        <p>${truncate(dish[4], 200)}</p>
                        <p>SVD Similarity: ${dish[1].toFixed(4)}</p>
                        <p>Weighted Ranking: ${dish[2].toFixed(4)}</p>
                    </div>
                `;
                card.onclick = () => showRecipeDetail(dish);
                answerBox.appendChild(card);
            });
        }



        function showRecipeDetail(dish) {
        /**
         * Displays detailed information for a specific dish in a popup window.
         *
         * Parameters:
         *   dish (Object): An object containing detailed information about a dish.
         */
            const detailPopup = document.getElementById('recipe-detail-popup');
            if (!detailPopup) {
                console.error('Detail popup container not found.');
                return;
            }
            let labelsHtml = dish[8].map(label => `<span class="tag ${label.toLowerCase()}">${label}</span>`).join(' '); // Generates tag HTML

            // Calculate width for star rating based on the dish rating
            let ratingPercentage = (dish[6] / 5) * 100; 

            let flavorDimensionsHtml = dish[9].map(dimList => `<li>${dimList.join(', ')}</li>`).join('');

            detailPopup.innerHTML = `
                <span class="close-btn" onclick="togglePopup(false)">&times;</span>
                <h2>${dish[0]}</h2>
                <div class="labels-container">${labelsHtml}</div>
                <div class="star-rating">
                    <span style="width:${ratingPercentage}%;">★★★★★</span>
                </div>
                <p><strong>Description:</strong> ${dish[4]}</p>
                <p><strong>Instructions:</strong> ${dish[5]}</p>
                <p><strong>SVD Similarity:</strong> ${dish[1].toFixed(5)}</p>
                <p><strong>Rating Count:</strong> ${dish[7]}</p>
                <p><strong>Weighted Ranking:</strong> ${dish[2].toFixed(5)}</p>
                <p><strong>Matching Flavor Dimensions: </strong> <ul class="flavor-dimensions">${flavorDimensionsHtml}</ul></p>
            `;
            togglePopup(true);
        }


        function togglePopup(show) {
        /**
         * Toggles the display of the recipe detail popup.
         *
         * Parameters:
         *   show (Boolean): A boolean indicating whether to show or hide the popup.
         */
            const popup = document.getElementById('recipe-detail-popup');
            if (popup) {
                popup.style.display = show ? 'block' : 'none';
            }
        }

        function truncate(str, num) {
        /**
         * Truncates a string to a specified length and adds ellipsis if the string exceeds that length.
         *
         * Parameters:
         *   str (String): The string to truncate.
         *   num (Number): The maximum number of characters to allow before truncating.
         */
            if (str.length > num) {
                return str.slice(0, num) + '...';
            } else {
                return str;
            }
        }



        function answerBoxTemplate(name, description, recipeInstructions, aggregatedRating, similarity) {
        /**
         * Generates HTML content for displaying a recipe card with detailed information.
         *
         * Parameters:
         *   name (String): The name of the recipe.
         *   description (String): A short description of the recipe.
         *   recipeInstructions (String): The cooking instructions for the recipe.
         *   aggregatedRating (Number): The overall user rating of the recipe.
         *   similarity (Number): The similarity score of the recipe compared to user input.
         *
         * Returns:
         *   String: HTML content for a recipe card.
         */
            return `<div class='recipe-container'>
                <h3 class='recipe-name'>${name}</h3>
                <p class='recipe-description'>${description}</p>
                <p class='recipe-instructions'>Instructions: ${recipeInstructions}</p>
                <p class='recipe-rating'>Rating: ${aggregatedRating}</p>
                <p class='recipe-similarity'>Similarity: ${similarity.toFixed(2)}</p>
            </div>`;
        }
    </script>
</body>
