<!doctype html>
<title>Flavor Match</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div>
                <h1><span>F</span><span>l</span><span>a</span><span>v</span><span>o</span><span></span><span>r</span><span>M</span><span>a</span><span>t</span><span></span><span>c</span><span>h</span></h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a recipe" id="filter-text-val" onkeyup="filterText()" autocomplete="off">
                <div id="dropdown" class="dropdown-content"></div>
            </div>          
        </div>
        <div id="answer-box"></div>
        <div id="recipe-detail-popup" class="recipe-detail-popup"></div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/recipe_names')
                .then(response => response.json())
                .then(data => {
                    window.recipeNames = data; // Store recipe names globally
                })
                .catch(error => console.error('Error fetching recipe names:', error));
        });

        function sendFocus() {
            document.getElementById('filter-text-val').focus();
        }

        function debounce(func, delay) {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(func, delay);
        }

        function filterText() {
            let userInput = document.getElementById("filter-text-val").value;
            if (userInput.length > 0) {  // Ensure there is user input before making the call
                fetch(`/filter_names?query=${encodeURIComponent(userInput)}`)
                    .then(response => response.json())
                    .then(data => showDropdown(userInput, data))  // Pass the returned data to the dropdown
                    .catch(error => console.error('Error fetching names:', error));
            } else {
                showDropdown(userInput);  // Call with empty or default data if no input
            }
        }

        function showDropdown(userInput, names = []) {
            const dropdown = document.getElementById("dropdown");
            dropdown.innerHTML = "";  // Clear previous options
            names.forEach(option => {
                const optionDiv = document.createElement("div");
                optionDiv.textContent = option;
                optionDiv.onclick = function () {
                    document.getElementById("filter-text-val").value = option;
                    dropdown.style.display = "none";
                    storeUserInput(option);
                };
                dropdown.appendChild(optionDiv);
            });
            dropdown.style.display = names.length > 0 ? "block" : "none";
        }


        function storeUserInput(userInput) {
            fetch('/store_user_input', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userInput: userInput })
            })
            .then(response => response.json())
            .then(data => {
                fetchTopSimilarDishes();
            })
            .catch((error) => console.error('Error storing user input:', error));
        }

        function fetchTopSimilarDishes() {
            fetch('/get_similar_dishes', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                displayTopSimilarDishes(data);
            })
            .catch(error => console.error('Error:', error));
        }

        function displayTopSimilarDishes(dishes) {
            const answerBox = document.getElementById("answer-box");
            answerBox.innerHTML = ''; // Clear previous results

            dishes.forEach(dish => {
                const card = document.createElement('div');
                card.classList.add('recipe-card');
                card.innerHTML = `
                    <h3>${dish[0]}</h3>
                    <p>${truncate(dish[4], 100)}</p> 
                    <p>User Rating: ${dish[6].toFixed(4)}</p>
                    <p>SVD Similarity: ${dish[1].toFixed(4)}</p>
                    <p>Weighted Ranking: ${dish[2].toFixed(4)}</p>

                `;
                card.onclick = () => showRecipeDetail(dish);
                answerBox.appendChild(card);
            });
        }


        function showRecipeDetail(dish) {
            const detailPopup = document.getElementById('recipe-detail-popup');
            if (!detailPopup) {
                console.error('Detail popup container not found.');
                return;
            }
            detailPopup.innerHTML = `
                <span class="close-btn" onclick="togglePopup(false)">&times;</span>
                <h2>${dish[0]}</h2>
                <p><strong>ID:</strong> ${dish[3]}</p>
                <p><strong>Description:</strong> ${dish[4]}</p>
                <p><strong>Instructions:</strong> ${dish[5]}</p>
                <p><strong>SVD Similarity:</strong> ${dish[1].toFixed(5)}</p>
                <p><strong>User Rating:</strong> ${dish[6].toFixed(5)}</p>
                <p><strong>Rating Count:</strong> ${dish[7]}</p>
                <p><strong>Weighted Ranking:</strong> ${dish[2].toFixed(5)}</p>
            `;
            togglePopup(true);
        }

        function togglePopup(show) {
            const popup = document.getElementById('recipe-detail-popup');
            if (popup) {
                popup.style.display = show ? 'block' : 'none';
            }
        }

        function truncate(str, num) {
            if (str.length > num) {
                return str.slice(0, num) + '...';
            } else {
                return str;
            }
        }



        function answerBoxTemplate(name, description, recipeInstructions, aggregatedRating, similarity) {
            return `<div class='recipe-container'>
                <h3 class='recipe-name'>${name}</h3>
                <p class='recipe-description'>${description}</p>
                <p class='recipe-instructions'>Instructions: ${recipeInstructions}</p>
                <p class='recipe-rating'>Rating: ${aggregatedRating}</p>
                <p class='recipe-similarity'>Similarity: ${similarity.toFixed(2)}</p>
            </div>`;
        }
    </script>
</body>
